/** @format */
/* Start of Common for every html file*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	/* font-size: 100%; */
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
header {
	overflow: hidden;
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
	background-color: FF8638;
	position: sticky;
	z-index: 100;
}

header img {
	height: 80px;
	margin-top: 5px;
	margin-left: 7%;
}

header ul {
	float: right;
	margin: 20px 7% 10px 0px;
	list-style-type: none;
}

li {
	float: left;
}

li a {
	cursor: pointer;
	font-family: Geneva, Verdana, sans-serif;
	font-size: 20px;
	display: block;
	color: white;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}

.header,
footer,
section {
	max-width: 2000px;
	width: 100%;
}

footer {
	height: 50px;
	background-color: #333;
}

.main-section {
	padding: 10px 75px;
}

/*------------------------------------------ */
/* End of Common style for every html file*/
/*------------------------------------------ */

/*------------------------------------------------------ */
/* Start of Location Page(location.html) style properties*/
/*------------------------------------------------------ */
.head-section {
	color: white;
	position: relative;
	font-family: Verdana, sans-serif;
	width: 100%;
	height: 300px;
	justify-items: center;
	background-color: #f79c14;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/GOOGLE-MAP.png);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.head-section p {
	font-size: 24px;

	text-align: center;
}

.location-section {
	/* padding-top: 25px; */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/* background: linear-gradient(180deg, #e95714 48.96%, #ffff 48.97%); */
	background: #e95714;
	color: white;
}

.location-section .location-section-box1 {
	display: flex;
	flex-direction: column;
	justify-content: right;
	border: 1px solid #e95714;
	height: 150px;
	width: 350px;
}

.location-section .location-section-box2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	justify-content: top;
	border: 1px solid #e95714;
	width: 100%;
	height: 150px;
	padding: 0px 25px;
	text-align: justify;
	/* background: white; */
}
.location-section .location-section-box1 img {
	height: 100%;

	cursor: zoom-in;
	/* background: #fbb144; */
}

.cities {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 20px 0px 0px;
	flex: none;
	flex-grow: 0;
	margin: 10px 0px;
	flex-wrap: wrap;
}

.cities img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	overflow: hidden;
	left: 0px;
	top: 0px;
}
.branch-map-box {
	margin: 20px 10px 10x 20px;
	object-fit: cover;
	display: flex;
	flex-direction: column;
	justify-content: top;
	background: #fbb144;
	border: 3px solid #e95714;
	width: 210px;
	height: 210px;
	padding: 0px;
	margin: 5px;
	position: relative;
	border-radius: 20px;
	box-shadow: 0px 4px 14px #771e03;
	overflow: hidden;
}

.branch .branch-map-box {
	margin: 20px 10px 10x 20px;
	object-fit: cover;
	display: flex;
	flex-direction: column;
	justify-content: top;
	background: #fbb144;
	border: 5px solid #e95714;
	width: 210px;
	height: 210px;
	padding: 0px;
	margin: 5px;
	position: relative;
	border-radius: 100%;
	box-shadow: 0px 4px 14px #771e03;
	overflow: hidden;
}

.branch .branch-map-box img {
	width: 350px;
	height: 350px;
	object-fit: cover;
	overflow: hidden;
	left: 0px;
	top: 0px;
}
.branch-map-box .location-section-description-button,
.branch .location-section-description {
	display: flex;
	color: white;

	font-family: Verdana, sans-serif;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: #e95714;
	overflow: hidden;
	position: absolute;

	background-color: #e95714;
	overflow: hidden;
	width: 100%;
	height: 0%;
	transition: 0.5s ease;
}

.location-section-description {
	display: flex;
	color: white;

	font-family: Verdana, sans-serif;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	background-color: #e95714;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #e95714;
	overflow: hidden;

	transition: 0.5s ease;
}

.location-section-description-button a {
	padding: 5px;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	text-decoration: none;
}

.branch-map-box:hover .location-section-description-button,
.branch:hover .location-section-description {
	height: 100%;
	overflow: hidden;
	background: #36251d94;
}

.branch-map-box .location-section-description p,
.branch-map-box .location-section-description img {
	display: none;
}

.branch:hover .location-section-description img {
	display: flex;
	height: 100%;
	width: 100%;
}

.branch:hover .location-section-description p {
	display: flex;
}

.location-section-description p {
	font-size: 16px;
	justify-content: center;
	align-content: flex-start;
	width: 100%;
	padding: 10px 10px 10px 10px;
	text-align: center;
}
.location-section-description p a {
	display: flex;
	padding: 10px;
	text-decoration: none;
	color: black;
	background: white;
	line-height: 25px;
}
/*-----------------------------------------------------*/
/* End of Location Page(location.html) style properties*/
/*-----------------------------------------------------*/

.contact-main-section {
	background: #e95714;
	display: flex;
	padding-top: 50px;
	flex-direction: column;
	color: rgb(0, 0, 0);
	text-align: center;
	width: 100%;
}
.contact-main-section H2 {
	margin: top;
}

.contact-main-section .bold {
	color: rgb(24, 9, 9);
	font-weight: 700;
}

.contact-divider {
	width: 100%;
	justify-content: center;
	align-content: center;
	flex-direction: row;

	width: 100%;
	display: grid;

	grid-auto-rows: 70px;

	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 1em;
}
.contact {
	display: flex;
	justify-content: center;
	align-content: center;
	border: 1px solid #e95714;
	padding: 10px;
	flex-direction: row;
	text-decoration: none;
	color: rgb(255, 255, 255);
	background: #e95714;
}
.contact p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	flex-direction: row;
}

.contact img {
	filter: invert();
}

.form-main-section {
	display: flex;

	width: 100%;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	/* padding: 0px 50px; */
}
.contact-header h1 {
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
}
.form-divider {
	display: flex;
	/* background-color: #eee; */
	width: 100%;
	flex-direction: row;
	/* border: 1px solid #e95714; */
	/* margin: 50px; */
	border-radius: 25px;
	overflow: hidden;
}

.form-input:focus,
textarea:focus {
	outline: 1.5px solid #ff6b26;
}

.form-input,
textarea {
	width: 100%;
	border: 1px solid #eba554;
	padding: 1em;
	width: 100%;
	margin: 20px 0px 0px;
	background: #eee;
	border-radius: 10px;
}

input[type='submit'] {
	margin-top: 20px;
	outline: none;
	border: none;

	border-radius: 7.5px;
	width: 100%;
	cursor: pointer;
	transition: 0.2s;

	border: 1px solid #e95714;
	background: white;
	color: e95714;
	font-weight: bold;
	padding: 10px 15px;
}

input[type='submit']:hover {
	color: white;
	background: #e95714;
	padding: 10px 15px;
}

.contact-information-box {
	flex-direction: row;
	display: flex;
	height: 20px;

	justify-content: center;
	align-content: center;
}

.contact-divider img {
	display: flex;
	padding: 10px;
	height: 100%;
}
.contact-information p {
	display: flex;
	padding: 10px;

	justify-content: center;
	align-content: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 50px;
	width: 60%;
	height: 100%;
	padding: 50px;
}

.location-box {
	display: flex;

	justify-content: center;
	/* background: #fbb144; */

	width: 40%;

	padding: 0px;

	position: relative;
	overflow: hidden;
	background-size: cover !important;
}

.location-box img {
	height: 500px;
	clip-path: view-box;
}

.head-contact-section {
	color: white;
	position: relative;
	font-family: Verdana, sans-serif;
	width: 100%;
	height: 100px;
	background-color: #e95714;
}

.head-contact-section h1 {
	position: absolute;

	top: 60%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

@media (max-width: 1000px) {
	.main-section {
		padding: 10px 25px;
	}

	.location-section .location-section-box1,
	.location-section-box4 {
		/* margin: 20px 0px 0px;
		display: flex;
		flex-direction: column;
		justify-content: top;

		width: 100%;
		height: 30%;
		padding: 50px;
		margin: 5px; */
		display: none;
	}
	iframe {
		width: 100%;
		height: 30%;
	}
	.cities {
		flex-direction: column;
	}
	.cities .branch-map-box {
		width: 100%;
	}
	.location-section {
		flex-direction: column;
	}
	/* .location-section .location-section-box1 {
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: space-around;
		flex-wrap: wrap;
	} */
	header {
		position: relative;
		display: flex;
		z-index: 100;
		flex-direction: column;
		justify-content: center;
		align-content: flex-end;
		align-items: center;
	}
	header ul {
		display: flex;
		/* float: right; */
		margin: 20px 0px 20px 40px;
		list-style-type: none;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		align-content: space-around;
		flex-wrap: wrap;
	}
	.location-box {
		display: none;
		-ms-flow-from: ;
	}
	form {
		width: 100%;
	}
}
footer {
	height: 50px;
	background-color: #333;
}
@media (max-width: 800px) {
	.cities {
		flex-direction: column;
	}
	.branch .border {
		color: white;
		border-radius: 20px;
		margin-top: 159px;
		/* margin-left: 12px; */
		height: 120px;
		width: 100%;
		padding: 40px;
		background-color: #ff8638;
	}
}
